.welcome-text{
    margin: 17vw 10vw 10vw 10vw;
    text-align: center;
    p {
        font-family: Montserrat;
        font-family: Raleway;
        font-weight: 300;
        font-size: 1.6vw;
        line-height: 2;
    }
}
.image-menu{
    
    .image-menu-top{
        display: flex;
        flex-wrap: wrap;
    }
    .image-menu-bottom{
        display: flex;
    }
    .img-main-container {
        width: 25%;
        background: #371D3B;

        .image-link{
            position: relative;
        }
        
        .img-main{
            display:block;
            width: 100%;
            height: auto;
            opacity: 1;
        }

         .img-text {
            position: relative;
            font-size: 1.3rem;
            color: pink;
            position: absolute;
            margin: 5vw 0 0 7vw;
            text-align: center;
            //transform: translate(-20%, -50%);
            z-index: 10;
            opacity: 0;
            //transition: all 0.2s ease;          
    }
    &:hover .img-main{
        opacity: 0.5;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &:hover .img-text{
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
        
    }
    .image-link{
        display:inline;
    }
}