$maincolor: white;
$sceondarycolor: #D560B9;

header {
    box-sizing: border-box;
    padding-top: 10px; 
    

    nav {
        display:flex;
        justify-content: space-between;
        flex-shrink: 0;
        position: fixed;
        width: 96%;
        margin: auto;
    }

    ul {
        padding-inline-start: 0px;
    }
    
    .img-logo{
        width: 100px;
        height: auto;
    }
    
    .header-container1 .header-container2 .header-container3{
        display: flex;
        justify-content: space-between;
    }
    
    .header-container1{

    }
    .header-container3{
        text-align: right;

    }

    .nav-list {
        list-style-type: none;
        
        
        .nav-item{
            padding: 0 0 10px 0;
        }
        .nav-link {
            font-size: 1.1rem;
            position: relative;
            text-decoration: none;
            color: black;
            transition: 0.5s all ease-in;
            &:hover {
                color: black;
            }
            &:before{
                content: "";
                position: absolute;
                width: 100%;
<<<<<<< HEAD
                height: 0.07rem;
                bottom: 0;
                left: 0;
                background-color: black;
                color: black;
=======
                height: 0.1rem;
                bottom: 0;
                left: 0;
                background-color: grey;
>>>>>>> 50561323f879e04d668f9d2e1dca5bc43e3ba14c
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
<<<<<<< HEAD
               }
=======
            }
>>>>>>> 50561323f879e04d668f9d2e1dca5bc43e3ba14c
            &:hover:before{
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
<<<<<<< HEAD
            }
=======

>>>>>>> 50561323f879e04d668f9d2e1dca5bc43e3ba14c
        }
    }
    .contact-link{
        padding: 7.5px 15px;
        color: $sceondarycolor;
        border: 2px solid $sceondarycolor;
        border-radius: 2px;
        text-decoration: none;
        transition: 0.5s all ease-in;
        &:hover {
            color: white;
            background-color: $sceondarycolor;
          }
    }
